
.form-signup{
    margin: 30% 0;
}

.gap{
    margin-bottom:15px;
}

.signin-btn{
    width: 100%;
}
.TextCenter{
  text-align:center 
}

.signup-btn{
    width: 100%;
    border: 2px solid black;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    padding: 10px 25px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }